<a href="https://colab.research.google.com/github/aniketbachhas/pokemon/blob/main/Pokemon_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [20]:
import numpy as np
import pandas as pd

Import Dataset

> Source: https://www.kaggle.com/datasets/rounakbanik/pokemon

In [21]:
data = pd.read_csv('/content/pokemon.csv', encoding = 'unicode_escape')
data.shape

(801, 41)

In [22]:
columns = list(data.columns)
columns

['abilities',
 'against_bug',
 'against_dark',
 'against_dragon',
 'against_electric',
 'against_fairy',
 'against_fight',
 'against_fire',
 'against_flying',
 'against_ghost',
 'against_grass',
 'against_ground',
 'against_ice',
 'against_normal',
 'against_poison',
 'against_psychic',
 'against_rock',
 'against_steel',
 'against_water',
 'attack',
 'base_egg_steps',
 'base_happiness',
 'base_total',
 'capture_rate',
 'classfication',
 'defense',
 'experience_growth',
 'height_m',
 'hp',
 'japanese_name',
 'name',
 'percentage_male',
 'pokedex_number',
 'sp_attack',
 'sp_defense',
 'speed',
 'type1',
 'type2',
 'weight_kg',
 'generation',
 'is_legendary']

In [23]:
data.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

Data Cleaning

In [24]:
# We don't require Japanese Names for the scope of this Project.
# We drop against_? columns for the scope of this Project.
# We drop base egg steps and base happiness for the scope of this Project.
# We drop Classification as it is described by the Sun and Moon Pokedex
data = data.drop(['japanese_name',
                  'against_bug',
                  'against_dark',
                  'against_dragon',
                  'against_electric',
                  'against_fairy',
                  'against_fight',
                  'against_fire',
                  'against_flying',
                  'against_ghost',
                  'against_grass',
                  'against_ground',
                  'against_ice',
                  'against_normal',
                  'against_poison',
                  'against_psychic',
                  'against_rock',
                  'against_steel',
                  'against_water',
                  'base_egg_steps',
                  'base_happiness'], axis=1)

Cleaned Dataset

In [26]:
data.shape

(801, 20)

In [27]:
#Saving Data as a new csv file.
data.to_csv('pokemon_cleaned.csv')